body {
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    transition: all .5s ease;
    color: #fff;
    border: 2px solid darkgrey;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

button:hover {
    color: #000;
    background-color: darkgrey;
}